<div>
  <div class="modal-header">
    <h5 class="modal-title" id="">Chi tiết tài khoản</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-4 col-sm-4 col-4">
        <label for="" class="">Tài khoản</label>
        <input type="text" class="form-control" [(ngModel)]="this.entity!.username"
          [attr.disabled]="editing ? null: 'disabled'">
      </div>
      <div class="form-group col-md-4 col-sm-4 col-4">
        <label for="" class="">Mật khẩu</label>
        <input type="password" class="form-control" [(ngModel)]="this.entity!.password"
          [attr.disabled]="editing ? null: 'disabled'">
      </div>
      <div class="form-group col-md-4 col-sm-4 col-4">
        <label for="" class="">Họ tên</label>
        <input type="text" class="form-control" [(ngModel)]="this.entity!.name"
          [attr.disabled]="editing ? null: 'disabled'">
      </div>
      <div class="form-group col-md-4 col-sm-4 col-4">
        <label for="" class="">Đơn vị</label>
        <input type="text" class="form-control" [(ngModel)]="this.entity!.unit"
          [attr.disabled]="editing ? null: 'disabled'">
      </div>
      <div class="form-group col-md-4 col-sm-4 col-4">
        <label for="" class="">Điện thoại</label>
        <input type="text" class="form-control" [(ngModel)]="this.entity!.phone"
          [attr.disabled]="editing ? null: 'disabled'">
      </div>
      <div class="form-group col-md-4 col-sm-4 col-4">
        <label for="" class="">Email</label>
        <input type="text" class="form-control" [(ngModel)]="this.entity!.phone"
          [attr.disabled]="editing ? null: 'disabled'">
      </div>
      <div class="form-group col-md-4 col-sm-4 col-4">
        <label for="" class="">Ghi chú</label>
        <input type="text" class="form-control" [(ngModel)]="this.entity!.note"
          [attr.disabled]="editing ? null: 'disabled'">
      </div>
      
    </div>

    <div class="radius border">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12 p-2">
          &nbsp;
          <button class="btn btn-primary" (click)="onEdit()" [attr.disabled]="!editing ? null: 'disabled'"><i
              class="fas fa-edit"></i> Sửa</button>
          <button class="btn btn-primary" (click)="saveEntity()" [attr.disabled]="editing ? null: 'disabled'"><i
              class="fas fa-save"></i> Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>