@media (max-width: 1199px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  #login-inner .row {
    height: auto !important;
  }
  .card .card-header .btn-group {
    height: 30px;
  }
  #login h1 {
    font-size: 1.5rem;
  }
  #login form.radius label,
  #login form.radius .h5 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 768px) {
  #login h1 {
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 30px;
    line-height: 1.5rem;
  }

  #sidebar {
    width: 0;
    position: absolute;
  }
  #wrapper.extend #sidebar {
    position: fixed;
  }
  #pcont,
  #wrapper.extend #pcont {
    left: 0;
  }
  .card-header.d-flex {
    flex-direction: column;
  }
  .card .card-header .btn-group,
  .card .card-header .redmore {
    margin-top: 10px;
    margin-right: auto !important;
  }
}
@media (max-width: 450px) {
  #login h1 {
    font-size: 1rem;
  }
}
